target
**/*.rs.bk
flamegraph.svg
perf*
lcov.*
crap.*
.idea
*.iml
/result*
*snapshots*
*.log
default.nix
shell.nix
*~
rust-toolchain.toml
/ref
store-path-pre-build
.devenv*
devenv.local.nix
.direnv
.pre-commit-config.yaml
template/flake.lock
ideas.md
roadmap.md
file*
